<MudPaper Class="p-4" Width="400px">
    <MudForm >
        <div style="display: flex; align-items: center; gap: 20px;">
            <div class="form-group" style="flex-grow: 1;">
                <label for="deadline">@Dlg.Description:</label>
            </div>
        </div>
        <div style="display: flex; align-items: center; gap: 20px;">
            <div class="form-group" style="flex-grow: 1;">
                <input type="text" id="dlg_value" @bind="Dlg.Value" class="form-control" />
            </div>
        </div>
        <div style="display: flex; align-items: center; gap: 20px;">
            <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" OnClick="@(()=>Confirm(true))" Class="mt-5">@Dlg.Button1</MudButton>
            <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Warning" OnClick="@(()=>Confirm(false))" Class="mt-5">@Dlg.Button2</MudButton>
        </div>
    </MudForm>
 </MudPaper>