
<MudCard>
    <MudForm Model="@packageView" @ref="@form">
        <MudCardContent>
            <table>
                <tr>
                    <td>
                        <MudTextField @bind-Value="packageView.ClientName"
                                      For="@(() => packageView.ClientName)"
                                      Immediate="true"
                                      Label="Client Name"
                                      ReadOnly="true" />
                    </td>
                    <td width="30px" />
                    <td>
                        <MudTextField Label="Package Number"
                                      @bind-Value="packageView.PackageNumber"
                                      For="(() => packageView.PackageNumber)"
                                      ReadOnly="true" />
                    </td>
                    <td width="30px" />
                    <td>
                        <MudTextField Label="Priority"
                                      @bind-Value="packageView.Priority"
                                      For="(() => packageView.Priority)"
                                      ReadOnly="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <MudTextField @bind-Value="packageView.DateSubmitted"
                                      For="@(() => packageView.DateSubmitted)"
                                      Immediate="true"
                                      Label="Start Date"
                                      ReadOnly="true" />
                    </td>
                    <td width="30px" />
                    <td>
                        <MudTextField Label="Deadline"
                                      @bind-Value="packageView.Deadline"
                                      For="(() => packageView.Deadline)"
                                      ReadOnly="true" />
                    </td>
                    <td width="30px" />
                    <td>
                        <MudTextField Label="Date Completed"
                                      @bind-Value="packageView.EndDate"
                                      For="(() => packageView.EndDate)"
                                      ReadOnly="true" />
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <h6>Attached Documents</h6>
                        @if (packageView.DocumentNames != null)
                        {
                            @for (int i = 0; i < packageView.DocumentNames.Count; i++)
                            {
                                <a href="@packageView.DocumentUrls[i]" style="color:blue; text-decoration:underline;">@packageView.DocumentNames[i]</a>

                                <br />
                            }
                        }
                    </td>
                </tr>
                <br>
                <tr>
                    <td colspan="5">
                        <h6>Addition Client Comments</h6>
                        <MudTextField @bind-Value="packageView.Information"
                                      For="(() => packageView.Information)"
                                      ReadOnly="true" />
                    </td>
                </tr>

            </table>
        </MudCardContent>

        <AuthorizeView Roles="Admin, Manager,">
            <Authorized>
                <MudCardContent>
                    <table>
                        <h6>Time Spent and $/Hr</h6>
                        <tr>

                            <td>
                                <MudNumericField Label="Time in Hours"
                                                 Value="@packageView.SpendTime"
                                                 ValueChanged="(int x) => SpendChanged(x)" Min="0" />
                            </td>
                            <td width="30px" />
                            <td>
                                <MudNumericField Label="$/Hour"
                                                 Value="@packageView.Rate"
                                                 ValueChanged="(int x) => RateChanged(x)" Min="0" />
                            </td>
                            <td width="30px" />
                            <td>
                                <MudNumericField Label="Total"
                                                 @bind-Value="_total"
                                                 For="(() => _total)" ReadOnly="true" />
                            </td>
                        </tr>

                    </table>
                </MudCardContent>
            </Authorized>
        </AuthorizeView>
        <MudCardContent>
            <h6>Review Result</h6>
            @if (packageView.Summery != null && packageView.Summery != "")
            {
                string[] l = packageView.Summery.Split("\n");
                foreach (string k in l)
                {
                    <label>@k</label>

                    <br />
                }
            }
        </MudCardContent>
    </MudForm>
    <MudCardActions>
        <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await Confirm(true))">SAVE</MudButton>
    </MudCardActions>
</MudCard>
