@page "/ClientList"
@using TinaKingSystem.ViewModels
@attribute [Authorize(Roles = "Admin,Manager")]

<MudLayout>
    <NavMenu></NavMenu>
    <MainMenu></MainMenu>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            <MudPaper Elevation="3" Class="my-3 p-2" Style="background-color:#0a253b; border-radius: 8px;">
                <MudGrid Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                    <MudItem xs="12" md="6" lg="4">
                        <MudText Typo="Typo.h4" Style="color:white; font-weight:500;">Client List</MudText>
                    </MudItem>
                    <MudItem xs="12" md="6" lg="8" Style="text-align: right;">
                        <MudTooltip Text="Add a new package" Placement="MudBlazor.Placement.End">
                            <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" OnClick="@GoToRegisterClient" StartIcon="@Icons.Filled.Add">
                                New Client
                            </MudButton>
                        </MudTooltip>
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <MudPaper Elevation="3" Class="my-3 p-3" Style="border-radius: 8px;">
                @if (Clients != null && Clients.Any())
                {
                    <MudTable Items="@filteredClients" @ref="tableRef" Dense="true" Hover="true" Bordered="false" Striped="true">
                        <ToolBarContent>
                            <MudTextField @bind-Value="searchString" Placeholder="Search First or Last Name" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"></MudTextField>
                            <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" OnClick="@(() => searchString = string.Empty)">Clear</MudButton>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh><MudTableSortLabel SortBy="new Func<ClientSearchView, object>(x => x.FirstName)">First Name</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<ClientSearchView, object>(x => x.LastName)">Last Name</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<ClientSearchView, object>(x => x.Email)">Email</MudTableSortLabel></MudTh>
                            <MudTh>UserName</MudTh>
                            <MudTh>Phone</MudTh>
                            <MudTh>Company</MudTh>
                            <MudTh>City</MudTh>
                            <AuthorizeView Roles="Admin"><Authorized>
                            <MudTh>Status</MudTh>
                            </Authorized></AuthorizeView>
                            <MudTh>Edit</MudTh>
                        </HeaderContent>
                        <RowTemplate Context="client">
                            <MudTd DataLabel="First Name">@client.FirstName</MudTd>
                                <MudTd DataLabel="Last Name">@client.LastName</MudTd>
                                <MudTd DataLabel="Email">@client.Email</MudTd>
                                <MudTd DataLabel="Username">@client.UserName</MudTd>
                                <MudTd DataLabel="Phone">@client.Phone</MudTd>
                                <MudTd DataLabel="Company">@client.Company</MudTd>
                                <MudTd DataLabel="City">@client.City</MudTd>
                          <AuthorizeView Roles="Admin"><Authorized>
                                <MudTd DataLabel="Status">
                                @if(client.Status == "active"){
                                    <MudFab Color="Color.Success" Size="Size.Medium" StartIcon="@Icons.Material.Filled.Person" @onclick="@(() => ShowDisableConfirmDialog(client.ClientID, client.UserName))" class="mr-2" />
                                }else{
                                    <MudFab Color="Color.Dark" Size="Size.Medium" StartIcon="@Icons.Material.Filled.PersonRemove" @onclick="@(() => ShowEnableConfirmDialog(client.ClientID, client.UserName))" class="mr-2" />
                                }
                                </MudTd>
                                 <MudTd Class="d-flex align-items-center">
                                      <MudFab Color="Color.Primary" Size="Size.Medium" StartIcon="@Icons.Material.Filled.Edit" @onclick="@(() => GoToRegisterClient(client.ClientID))" class="mr-2" />
                                 </MudTd>
                          </Authorized></AuthorizeView>
                         </RowTemplate>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                                <NoRecordsContent>
                                    <MudText Typo="Typo.body1">No Results Found.</MudText>
                                </NoRecordsContent>
                      </MudTable>
                }
                else
                {
                    <p>Loading...</p>
                }
            </MudPaper>
        </MudContainer>
    </MudMainContent>
</MudLayout>