@attribute [Authorize(Roles = "Admin,Manager")]
@inject IJSRuntime js
@page "/invoice/{query}"
@using TinaKingSystem.ViewModels;

<MudLayout>
    <NavMenu></NavMenu>
    <MainMenu></MainMenu>
    <MudMainContent>

    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <MudPaper Elevation="3" Class="my-3 p-2" Style="background-color:#0a253b; border-radius: 8px;">
            <MudGrid Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                <MudItem xs="12" md="6" lg="4">
                    <MudText Typo="Typo.h4" Style="color:white; font-weight:500;">Invoice @(query)</MudText>
                </MudItem>
                <MudItem xs="12" md="6" lg="8" Style="text-align: right;">
                    <MudTooltip Text="Bring all to schedule" Placement="MudBlazor.Placement.End">
                        <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.ChecklistRtl">
                            ALL
                        </MudButton>
                    </MudTooltip>
                </MudItem>
            </MudGrid>
        </MudPaper>

        <MudPaper Elevation="3" Class="my-3 p-3" Style="border-radius: 8px;">
            @if (invoiceViews != null && invoiceViews.Any()) {
            <div style="overflow-x: auto; margin-inline:-22px;">

                <MudTable Items="@filteredInvoice" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">
                    <ToolBarContent>
                        <MudTextField @bind-Value="searchString" Placeholder="Search By Invoice Number or Username" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Date</MudTh>
                        @if (query != "Draft") {
                        <MudTh><MudTableSortLabel SortBy="new Func<InvoiceView, object>(x => x.InvoiceNo)">Invoice Number</MudTableSortLabel></MudTh>
                        }
                        <MudTh><MudTableSortLabel SortBy="new Func<InvoiceView, object>(x => x.Username)">Client</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<InvoiceView, object>(x => x.PackageCount)">Package Count</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<InvoiceView, object>(x => x.Total)">Total</MudTableSortLabel></MudTh>
                        <MudTh>GST</MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<InvoiceView, object>(x => x.GrandTotal)">Grand Total(CAD)</MudTableSortLabel></MudTh>
                        <MudTh>Action</MudTh>
                    </HeaderContent>

                    <RowTemplate Context="invoice">
                        <MudTd DataLabel="Date">@(invoice.Regist.ToString("dd MMM yyyy"))</MudTd>
                        @if (query != "Draft") {
                        <MudTd DataLabel="Invoice Number">@(invoice.InvoiceNo)</MudTd>
                        }
                        <MudTd DataLabel="Username">@(invoice.Username)</MudTd>
                        <MudTd DataLabel="Package Count">@(invoice.PackageCount)</MudTd>
                        <MudTd DataLabel="Total">$@(invoice.Total.ToString("0.00"))</MudTd>
                        <MudTd DataLabel="GST">$@(invoice.GST.ToString("0.00"))</MudTd>
                        <MudTd DataLabel="Grand Total">$@((invoice.Total + invoice.GST).ToString("0.00"))</MudTd>

                        <MudTd DataLabel="Actions">
                            @if (query == "Draft"){
                            <MudFab Color="Color.Success" 
                                    Size="Size.Small" 
                                    StartIcon="@Icons.Material.Filled.ChecklistRtl" 
                                    @onclick="@(() => ShowConfirmDialog(invoice))"
                                    class="mr-2" />
                            }
                            <MudFab Color="Color.Success" 
                                    Size="Size.Small" 
                                    StartIcon="@Icons.Material.Filled.Send" 
                                    @onclick="@(() => SendNow(invoice))"
                                    class="mr-2" />
                            <MudFab Color="Color.Success" 
                                    Size="Size.Small" 
                                    StartIcon="@Icons.Material.Filled.Download" 
                                    @onclick="@(() => SavePDF(invoice))"
                                    class="mr-2" />
                            
                        </MudTd>
                    </RowTemplate>

                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
                   
            </div>
        }
        else
        {
            <h5>No Invoices in process</h5>
        }
        </MudPaper>
    </MudContainer>
    </MudMainContent>
</MudLayout>
