@attribute [Authorize(Roles = "Admin,Manager,Reviewer")]
@page "/master"
@using TinaKingSystem.ViewModels;

<MudLayout>
    <NavMenu></NavMenu>
    <MainMenu></MainMenu>

    <MudMainContent>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">

        @if (Packages != null && Packages.Any())
        {
            <div style="overflow-x: auto; margin-inline:-22px;">

                <MudTable Items="@filteredPackages" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">
                    <ToolBarContent>
                        <MudTextField @bind-Value="searchString" Placeholder="Search By Package Number or Document Name" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<PackageView, object>(x => x.PackageNumber)">Package Number</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<PackageView, object>(x => x.ClientName)">Client</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<PackageView, object>(x => x.Priority)">Priority</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<PackageView, object>(x => x.DateSubmitted)">Start Date</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<PackageView, object>(x => x.Deadline)">Deadline</MudTableSortLabel></MudTh>
                        <MudTh>Status</MudTh>
                        <MudTh>Type</MudTh>
                        <MudTh>Date Completed</MudTh>
                        <MudTh Style="overflow-wrap:break-word;max-width:250px">Documents</MudTh>
                        <MudTh>Time Spent</MudTh>
                        <MudTh>Actions</MudTh>
                    </HeaderContent>

                    <RowTemplate Context="package">
                        <MudTd DataLabel="Package Number">@package.PackageNumber</MudTd>
                        <MudTd DataLabel="Client">@package.ClientName</MudTd>
                        <MudTd DataLabel="Priority">@package.Priority</MudTd>
                        <MudTd DataLabel="Date Submitted">@package.DateSubmitted.ToString("dd MMM ")</MudTd>
                        <MudTd DataLabel="Deadline">@package.Deadline.ToString("dd MMM ")</MudTd>
                        <MudTd DataLabel="Status">
                            @if (@package.ApproveState == "A"){
                                <a >Finished</a>
                            }else if (@package.ApproveState == "M"){
                                <a >Approved</a>
                            }else if (@package.ApproveState == "V"){
                                <a >Reviewed</a>
                            }else{
                                <a>No Review</a>
                            }
                        </MudTd>
                        <MudTd DataLabel="Type">@package.TypeOfRequest</MudTd>
                        @if (package.EndDate.Year < 2000){
                        <MudTd DataLabel="Date Submitted">-</MudTd>
                        }else{
                        <MudTd DataLabel="Date Submitted">@package.EndDate.ToString("dd MMM ")</MudTd>
                        }
                        <MudTd DataLabel="Documents">
                        @if (package.DocumentNames != null){
                            @for (int i = 0 ; i < package.DocumentNames.Count ; i++){
                            <a href="@package.DocumentUrls[i]" color="purple">@package.DocumentNames[i],</a>  <br/> 
                            }
                        }
                        </MudTd>
                        <MudTd DataLabel="TimeSpents">@package.SpendTime</MudTd>
                        <MudTd DataLabel="Actions">
                            <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="Actions" Style="@($"color:{MudBlazor.Colors.Blue.Accent3};")" Variant="MudBlazor.Variant.Filled">
                                <AuthorizeView Roles="Admin, Manager, Reviewer"><Authorized>
                                    <MudMenuItem @onclick="() => Detail(package)">Detail</MudMenuItem>
                                </Authorized></AuthorizeView>
                                <AuthorizeView Roles="Admin"><Authorized>
                                    <MudMenuItem @onclick="() => SetFinish(package)">Finish</MudMenuItem>
                                </Authorized></AuthorizeView>
                                <AuthorizeView Roles="Manager, Admin"><Authorized>
                                    <MudMenuItem @onclick="() => Approve(package)">Approve</MudMenuItem>
                                </Authorized></AuthorizeView>
                                <AuthorizeView Roles="Manager , Reviewer"><Authorized>
                                    <MudMenuItem @onclick="() => GoToReview(package)">Review</MudMenuItem>
                                </Authorized></AuthorizeView>
                            </MudMenu>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </div>
        }
        else
        {
                <p>No Packages under process...</p>
        }
    </MudContainer>
    </MudMainContent>
</MudLayout>
